<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="/lib/bootstrap/css/bootstrap.css"/>
<style>
    .navbar{
        height: 20px !important;
    }
   .footer{
       min-height: 200px;
       background-color: #adadad;
       padding-top:20px;
   }
    .footer ul li{
        margin-top:5px;
    }
</style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <img  height="30px" width="20px" src="/img/logo.jpg" th:src="@{/img/logo.jpg}"/>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">欢迎来到这</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                     <a href="javascript:;">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> &nbsp; &nbsp;
                            服务热线 4008007006</a>
                </li>
            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <img src="/img/a.jpg" th:src="@{/img/b.jpg}" alt="...">
                  <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>...</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <img src="/img/a.jpg" alt="...">
                  <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>...</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <img src="/img/a.jpg" alt="...">
                  <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>...</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <img src="/img/a.jpg" alt="...">
                  <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>...</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">联系我们</div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                      <form>
                          <div class="form-group">
                              <label for="name">您的姓名</label>
                              <input type="text" class="form-control" id="name" placeholder="请输入您的称呼">
                          </div>
                          <div class="form-group">
                              <label for="phone">联系方式</label>
                              <input type="number" class="form-control" id="phone" placeholder="请输入您的联系方式">
                          </div>
                          <div class="form-group">
                              <label for="remark">您的留言</label>
                              <textarea class="form-control" id="remark" placeholder="请输入您的期望，或者意见建议" rows="3"></textarea>
                          </div>

                          <button type="submit" class="btn btn-primary btn-lg btn-block">立即提交</button>
                      </form>

                  </div>
                  <div class="col-md-3"></div>
              </div>
          </div>
      </div>
  </div>
<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <ul>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
</div>


    <script src="/js/jquery.min.js"/>
    <script src="/lib/bootstrap/js/bootstrap.js"/>
</body>
</html>